.jb-title{
  font-size: 40px;
  color: white;
  font-family: 'Cambay';
  text-align: left;
}
.jb-bg{
  height: 200px;
  padding-top: 30px;
}
.jb{
  padding-top: 30px;
}
body{
  background-color: #214e6b;
}

.file-tree{
  background-color: white;
  height: 400px;
  border-radius: 10px;
  margin-right: 25px;
}
.control{
  background-color: white;
  height: 400px;
  border-radius: 10px;
  margin-left: 25px;
}
.content{
  padding-left: 50px;
}
